.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

.char-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}